/* Typography */

@font-face {
	font-family: 'AvenirLTStd';
	src: url('fonts/2CFAFB_2_0.eot');
	src: url('fonts/2CFAFB_2_0.eot?#iefix') format('embedded-opentype'),
		url('fonts/2CFAFB_2_0.woff2') format('woff2'),
		url('fonts/2CFAFB_2_0.woff') format('woff'),
		url('fonts/2CFAFB_2_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirLTStd';
	src: url('fonts/2CFAFB_1_0.eot');
	src: url('fonts/2CFAFB_1_0.eot?#iefix') format('embedded-opentype'),
		url('fonts/2CFAFB_1_0.woff2') format('woff2'),
		url('fonts/2CFAFB_1_0.woff') format('woff'),
		url('fonts/2CFAFB_1_0.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'AvenirLTStd';
	src: url('fonts/2CFAFB_0_0.eot');
	src: url('fonts/2CFAFB_0_0.eot?#iefix') format('embedded-opentype'),
		url('fonts/2CFAFB_0_0.woff2') format('woff2'),
		url('fonts/2CFAFB_0_0.woff') format('woff'),
		url('fonts/2CFAFB_0_0.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirLTStd';
	src: url('fonts/2CFAFB_3_0.eot');
	src: url('fonts/2CFAFB_3_0.eot?#iefix') format('embedded-opentype'),
		url('fonts/2CFAFB_3_0.woff2') format('woff2'),
		url('fonts/2CFAFB_3_0.woff') format('woff'),
		url('fonts/2CFAFB_3_0.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg?#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-top:before {
	content: "\e600";
}

.icon-address:before {
	content: "\e601";
}

.icon-email:before {
	content: "\e602";
}

.icon-phone:before {
	content: "\e603";
}

.icon-web:before {
	content: "\e604";
}

::selection {
	background: $primary-color;
	color: $white;
}

html,
body {
	display: table;
	width: 100%;
}

input,
select,
textarea,
button {

	&:focus {
		outline: none;
	}

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

blockquote,
blockquote p {
	font-size: 1.25rem;
}

cite,
em {
	font-style: italic;
}

body,
input,
textarea {
	text-size-adjust: 100%;
	@extend .antialiased;
}

a,
a h1,
a h2,
a h3,
a h4,
a h5 {
	transition: 0.2s;
}

/* Page Styles */

.img-round {
	border-radius: 100%;
}

.divider {
	margin: rem-calc(30 0);
	height: 1px;
	background: 
		linear-gradient(to right, 
			rgba($secondary-color,0) 0%,
			rgba($secondary-color,0) 39%,
			rgba($secondary-color,1) 40%,
			rgba($secondary-color,1) 60%,
			rgba($secondary-color,0) 61%,
			rgba($secondary-color,0) 100%);
}

.hidden {
	opacity: 0;
}

.visible {
	opacity: 1;
}

.centrelogo {
	line-height: 70%;

	img {
		vertical-align: middle;
		display: inline;
		max-width: 100%;
		height: auto;
	}

}

.coming-soon {
	text-align: center;
	color: $secondary-color;
}

/* animations */

.fade-animate {
	z-index: 9;
}

.fadeInUp {
	@include fadeInUp();
}

/* forms */

textarea {
	min-height: rem-calc(97);
}

button,
a.button,
input.button {
	padding: rem-calc(8 16 9);
	transition: background-color 300ms ease-out;
	text-transform: uppercase;
}

span.wpcf7-not-valid-tip {
	display: block;
	padding: rem-calc(6 9 9);
	margin-top: -1px;
	margin-bottom: 1rem;
	font-weight: $font-weight-normal;
	font-style: italic;
	background: none repeat scroll 0% 0% $alert-color;
}

::placeholder {  
	color: scale-color($secondary-color, $lightness: 50%);  
}

/* ordered lists */

ol {
	font-weight: $font-weight-bold;

	li {
		margin-top: rem-calc(20);
	}

	&:first-child {
		font-weight: $font-weight-normal;
	}

	> {

		li {

			ol {
				list-style-type: lower-alpha;

				> {

					li {

						ol {
							list-style-type: lower-roman;
						}

					}

				}

			}

		}

	}

}

/* top bar */

.name {

	object {
		vertical-align: middle;
		padding-top: rem-calc(5);
	}

}

.top-bar-section {

	ul {

		li {
			border-bottom: scale-color($secondary-color, $lightness: 65%) solid 1px;

			&:last-child {
				border-bottom: 0;
			}

		}

	}

}

.top-bar-section ul li >,
#desktop-nav {

	a {
		text-transform: uppercase;	
	}

}

.top-bar.expanded {

	.title-area {
		border-bottom: $secondary-color solid 1px;
	}

}

a.svg {
	position: relative;
	display: inline-block;

	&:after {
		content: ""; 
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left:0;
	}

}

/* desktop nav */

header.main,
#intro-text,
#page-heading {
	border-bottom: 6px solid scale-color($secondary-color, $lightness: 65%);
}

header.main {
	width: 100%;
	position: relative;
	margin-top: rem-calc(20);

	@media #{$small-only} {
		margin-top: rem-calc(10);
	}

	&:before {
		content: '';
		position: absolute;
		background: $white url(#{$assetPath}/top-bg.png) top center;
		background-size: rem-calc(970);
		height: rem-calc(20);
		top: rem-calc(-20);
		width: 100%;

		@media #{$small-only} {
			background-size: rem-calc(320);
			height: rem-calc(10);
			top: rem-calc(-10);
		}

	}

}

.logo {
	margin: rem-calc(30 0);
	max-width: rem-calc(220);
	height: rem-calc(205);
	display: block;
	background:url(#{$assetPath}/logo.png) no-repeat center;
	background-size: contain;
	transition: all 0.5s ease-in-out;

	&:hover {
		background: url(#{$assetPath}/logo-hover.png) no-repeat center;
		background-size: contain;
	}

}

#desktop-nav {
	width: auto;
	padding-bottom: rem-calc(30);
	display: table;
	margin: 0 auto;

	> ul {
		list-style: none;

		li {
			margin: 0;
			padding: 0;
			display: block;
			float: left;
			position: relative;
			border-left: 2px solid scale-color($secondary-color, $lightness: 65%);

			&:first-child {
				border-left: 0;
			}

			a:link,
			a:visited,
			&:hover a,
			a:hover,
			a:active {
				padding: rem-calc(0 20);
				display: block;
				text-align: center;
			}

			&:hover {

				ul {
					display: block;
				}

			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: none;
				width: rem-calc(146);
				position: absolute;
				top: rem-calc(32);
				left: 0;

				li {
					clear: left;
					width: rem-calc(146);
					border: 0;

					a {

						&:link,
						&:visited {
							clear: left;
							background: scale-color($secondary-color, $lightness: 80%);
							border-top: scale-color($secondary-color, $lightness: 65%) 2px solid;
							padding: rem-calc(4 8);
							width: rem-calc(146);
							position: relative;
							z-index: 1000;
							font-size: 0.8rem;
							text-align: left;
						}

					}

					&:hover a,
					a:hover {
						background: scale-color($primary-color, $saturation: -9%, $lightness: 64%);
						padding: rem-calc(4 12);
					}

				}
				
			}

		}

	}

	li {

		&.current_page_item,
		&.current_page_ancestor,
		&.current-menu-item,
		&.current-menu-ancestor {

			> a {
				color: $anchor-font-color-hover;
			}

		}

	}

	a {
		font-size: $topbar-link-font-size;

		@media #{$medium-only} {
			font-size: 1rem;
		}

	}

}

/* main page sections */

#subjects,
#about,
#contact,
#page-content {
	padding: rem-calc(80 0);
}

#subjects,
#contact,
#about {

	h1 {
		margin-bottom: rem-calc(30);
		padding-bottom: rem-calc(12);
		text-align: center;
	}
	
}

#subjects,
#about {

	h1 {
		border-bottom: 1px solid $secondary-color;
	}

	p {

		&:first-child {
			margin-top: rem-calc(25);
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	img {
		width: 100%;
		height: auto;
	}

}

#contact,
footer {

	a,
	a:link {
		color: scale-color($primary-color, $saturation: -5%, $lightness: 48%);
	}

	a {

		&:hover {
			color: scale-color($primary-color, $saturation: -9%, $lightness: 64%);
		}

	}

}

#page-heading {
	background: #817D7D url(#{$assetPath}/page-heading_bg.jpg) 50% 80% no-repeat;
	background-size: cover;

	h1 {
		color: $white;
		text-align: center;
	}

}

.page-heading-mask {
	position: relative;
	padding: rem-calc(100 0);

	&:before {
		content: ' ';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0.8;
		background: scale-color($primary-color, $saturation: -8%, $lightness: -12%);
	}

}

.large-offset-l {
	margin-left: 16.5% !important;
}

.large-offset-r {
	margin-right: 16.5% !important;
}

/* intro text */

#intro-text {

	h1 {
		font-size: 3.815rem;
		color: $white;
		text-shadow: 1px 1px 12px $black;

		@media #{$screen} and (max-width: #{upper-bound($small-range)}), (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)}) {
			font-size: 2.441rem;
		}

	}

	.carousel {
		width: 100%;
	}

}

.carousel-bg1,
.carousel-bg2,
.carousel-bg3,
.carousel-bg4,
.carousel-bg5,
.carousel-bg6 {
	background: #87bdd9 url(#{$assetPath}/intro-text_bg.jpg) 0% 80% no-repeat;
	background-size: cover;
}

.text-bg {
	height: rem-calc(360);
	display: flex;
	align-items: center;
}

[class*="block-grid-"] {
    margin: 0;
}

/* subjects text */

#subjects {

}

/* about */

#about {
	background: scale-color($secondary-color, $lightness: 80%);

	@media #{$small-only} {

		img {
			margin-bottom: rem-calc(20);
		}

	}

}

/* contact */

#contact {
	background: #4c88ae url(#{$assetPath}/contact_bg.png);
	background-size: 15%;

	h1 {
		border-bottom: 1px solid $white;
	}

	.vcard {
		width: 100%;

		@media #{$small-only} {
			margin-top: rem-calc(30);
		}

	}

	#{text-inputs(all, 'input')} {

		&:focus {
			box-shadow: 0 0 5px scale-color($primary-color, $saturation: -9%, $lightness: 64%);
		}	

	}

	button,
	a.button,
	input.button {
		background-color: scale-color($primary-color, $saturation: -5%, $lightness: 48%);
		color: scale-color($primary-color, $saturation: -8%, $lightness: -12%);

		&:hover,
		&:focus {
			background-color: scale-color($primary-color, $saturation: -9%, $lightness: 64%);
			color: scale-color($primary-color, $saturation: -8%, $lightness: -12%);
		}

	}

}

#contact,
#contact label,
#contact h1 {
	color: $white;
}

/* pricing table */

.pricing-table {
	
	.title {
		line-height: 1.25;
	}

	li {

		&:last-child {
			border-bottom: 0;
		}

	}

}

/* gallery */

.attachment-thumbnail {
	@include thumb;
	@include single-transition(all,$thumb-transition-speed,ease-out);

	&.radius {
		@include radius($thumb-radius);
	}

}

.clearing-close {

	&:hover,
	&:focus {
		color: $secondary-color;
	}

}

/* footer */

footer {
	display: table-row;
	height: 1px;
}

#main-footer {
	color: $white;
	background: $primary-color;
	padding: rem-calc(20 0 15);
	position: relative;

	&:before {
		content: '';
		position: absolute;
		background: $white url(#{$assetPath}/bottom-bg.png) top center;
		background-size: rem-calc(485);
		height: rem-calc(20);
		top: rem-calc(-20);
		width: 100%;

		@media #{$small-only} {
			background-size: rem-calc(160);
			height: rem-calc(10);
			top: rem-calc(-10);
		}

	}

}

.copyright,
.inner-footer {
	vertical-align: middle;
	line-height: rem-calc(60);
}

.copyright {
	margin-bottom: 0;

	@media #{$small-only} {
		line-height: rem-calc(20);
	}

}

.inner-footer {

	@media #{$small-only} {
		margin-bottom: rem-calc(10);
	}

}

.find-us-icon {

	a {
		background: scale-color($primary-color, $saturation: -5%, $lightness: 48%);
		padding: rem-calc(0 8);
		border-radius: rem-calc(5);
		display: block;
		text-align: center;

		@media #{$small-only} {
			padding: rem-calc(8);
		}

		&:hover {
			background: scale-color($primary-color, $saturation: -9%, $lightness: 64%);
		}

	}

}

#top {
	@extend .text-right;
}

// feature detection for the modern browsers

.cssvhunit {

	.centrelogo {
		line-height: 70vh;
	}

}

.cssvwunit {

	#intro-text {

		.carousel {
			width: 100vw;
		}

	}

}

/* small screens */

@media #{$small-only} {

	p.copyright,
	#about h2,
	#about h3 {
		text-align: center;
	}

}